# OS
.DS_Store

# Node
node_modules/
npm-debug.log*

# Audio / Video
*.wav
*.mp3
*.aiff
*.flac
*.mov
*.mp4
*.zip

# Plugins / installers
*.pkg
*.dmg
*.exe

# DAW / temp
logic temp/
protools project/
audio/

# Large binaries
FabFilter/
Image-Line/
JUCE/
Splice/

node_modules/
uploads/
.env
.DS_Store
